---
import Presentation from "../molecules/Presentation.astro";
---

<section class="relative flex h-[calc(100dvh-69px)] items-center py-5">
  <span
    aria-hidden="true"
    class:list={[
      "text-[clamp(8rem,18rem,320px)] font-bold whitespace-nowrap text-[#F6F6F6]",
      "absolute left-[40%] z-[-1] block tracking-wider",
    ]}>VALKYCODE</span
  >

  <Presentation />
</section>
