---
import Layout from "../layouts/Layout.astro";
import { Header } from "@/components/organisms";
import { Contact, Footer, Hero, Projects, Services } from "@/sections";
---

<Layout>
  <Header />
  <main
    class="flex w-full flex-col gap-34 px-4 sm:px-10 md:px-[100px] lg:max-w-7xl"
  >
    <Hero />
    <Services />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>
