---
import Layout from "../layouts/Layout.astro";
import { Header } from "@/components/organisms";
import { Hero, Services } from "@/sections";
---

<Layout>
  <Header />
  <main
    class="flex w-full flex-col gap-5 px-4 sm:px-10 md:px-[100px] lg:max-w-7xl"
  >
    <Hero />
    <Services />
  </main>
</Layout>
