---
interface Props extends astroHTML.JSX.ButtonHTMLAttributes {
  variant?: "primary" | "secondary";
  class?: string;
  type?: "submit" | "button";
}

const {
  variant = "primary",
  class: className,
  type = "button",
  ...rest
} = Astro.props;

const classByVariant = {
  primary: "btn--primary",
  secondary: "btn--secondary",
};
---

<button
  class:list={["btn disabled:bg-[#47223d]", classByVariant[variant], className]}
  type={type}
  {...rest}
>
  <slot />
</button>
