---
const { url } = Astro.props;
---

<a
  href={url}
  class="navbar-link tracking-wider text-gray-600 uppercase outline-transparent transition duration-75 hover:text-black"
>
  <slot />
  <span class="dot absolute -bottom-2"></span>
</a>

<style>
  .navbar-link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
  }
  .navbar-link.active {
    font-weight: 700;
    color: black;
  }
  .dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: transparent;
    margin-top: 2px;
    transition: background 0.2s;
  }
  .navbar-link.active .dot {
    background: black;
  }
</style>
