---
import CloseIcon from "@/icons/Close.astro";
import MenuIcon from "@/icons/Menu.astro";
import NavbarItem from "../atoms/NavbarItem.astro";

const menuItems = [
  { url: "/", label: "Inicio" },
  { url: "#servicios", label: "Servicios" },
  { url: "#proyectos", label: "Proyectos" },
  { url: "#sobre-mi", label: "Sobre mí" },
  { url: "#contacto", label: "Contacto" },
];
---

<div class="relative">
  <label for="menu-toggle" class="cursor-pointer md:hidden">
    <MenuIcon />
  </label>

  <input id="menu-toggle" type="checkbox" class="peer hidden" />

  <nav
    class:list={[
      "pointer-events-none hidden -translate-y-10 flex-col items-center gap-5",
      "bg-white opacity-0 transition-all duration-300 ease-in-out",
      "peer-checked:pointer-events-auto peer-checked:fixed peer-checked:inset-0 peer-checked:flex peer-checked:translate-y-0",
      "peer-checked:bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]",
      "peer-checked:py-5 peer-checked:opacity-100",
      "md:pointer-events-auto md:!static md:inset-auto md:flex md:translate-y-0",
      "md:flex-row md:justify-end md:!bg-transparent md:!bg-none md:!py-0 md:opacity-100",
    ]}
  >
    <label
      for="menu-toggle"
      class="mr-6 mb-6 cursor-pointer self-end md:hidden"
    >
      <CloseIcon />
    </label>
    {menuItems.map((item) => <NavbarItem url={item.url} label={item.label} />)}
  </nav>
</div>
