---
import "@fontsource-variable/onest";
import "@fontsource-variable/roboto";

import "../styles/global.css";
import "toastify-js/src/toastify.css";
import SocialMedia from "@/components/molecules/SocialMedia.astro";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || "Portfolio's Nathalia "}</title>
  </head>
  <body class="overflow-x-hidden max-w-screen">
    <slot />
    <SocialMedia />
    <div
      class="absolute top-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,163,255,0.13)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"
    >
    </div>
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
    font-family: "Onest Variable", sans-serif;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
  }
</style>
